.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  padding: 10px;
  border: 1px solid black;
}

.contactFormLabel {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
