.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logoutIcon:hover {
  color: #1565c0;
  cursor: pointer;
}

.desktopOnly {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}
